.contenedor{
    display:flex;
}
.imagen{
    border:5px solid black;
    margin:0 10px 0 0;
    padding: auto;
    
}
.texto{
    margin: 0 0 0 20px;
}
.boton{
    background: rgba(0, 241, 129, 0.719);
    display: auto;
    padding: 10px;
    margin: 2px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}
.boton:active{
    background: rgba(0, 0, 0, 0.719);
    display: auto;
    padding: 10px;
    margin: 2px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}
